<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat UI</title>
    <link rel="stylesheet" href="static\css\style.css">
</head>
<body>
    <div class="container">
        <div class="chat-container">
            <div class="chat-header">
                <h1>TeachMe!</h1>
            </div>
            <div class="interface">
                <div class="left-side">
                    <div class="quiz">
                    </div>
                    <div class="mascot-div">
                        <div class="mascot-container">
                            <img src="\static\images\image.png">
                        </div>
                    </div>
                </div>
                <div class= "right-side">
                    <div class="chat-box" id="chat-box">
                        <div class="message received">
                            <p>Hello! How can I assist you today?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat-input" id="chat-input">
                <input type="text" id ="input" placeholder="Type a message..." />
                <button id="button">Send</button>
            </div>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>


